<%= form_with(model: timesheet,html: {id: ''}, local: true) do |form| %>

 <% if timesheet.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <% timesheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 <% end %>
  <div class="row mb-3">
    <%= form.label "Date",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.date_field :current_date, class:"form-control"%>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Time",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.time_field :time, class:"form-control"%>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Name",autocomplete: "first_name",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= form.text_field :user_id, value: current_user.first_name, class:"form-control"%>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Description",class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
      <span id="basic-icon-default-edit2" class="input-group-text"><i class="bx bx-edit"></i>
      </span>
      <%= form.text_field :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Project",class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-edit2" class="input-group-text"><i class="bx bx-code-block"></i>
        </span>
        <%= form.text_field :project_id, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Job", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-edit2" class="input-group-text"><i class="bx bx-laptop"></i>
        </span>
      <%= form.text_field :job_id, class:"form-control" %>
    </div>
    <div>
  </div>
  <br/>

  <div class="col-sm-10">
    <div class="actions mb-2">
      <%= form.submit class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
