<%= simple_form_for(@timesheet ,html: {id:'timesheetValidate'}, local: true) do |form| %>
  <div class="row mb-3">
    <%= form.label "Time", class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-time"></i>
        </span>
        <%= form.text_field :time, class:"form-control", data: {error: "#errTime1"} %>
      </div>
      <span id="errTime1"></span>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Employee", autocomplete: "first_name", class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= form.text_field :user_name , value: current_user.first_name, disabled: "true", class:"form-control"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id,id: :user_id, class:"form-control", value: current_user.id,type: :hidden %>
  </div>

  <div class="row mb-3">
    <%= form.label "Description",class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
      <span id="basic-icon-default-edit2" class="input-group-text"><i class="bx bx-edit"></i>
      </span>
      <%= form.text_field :description, class:"form-control",data: {error: "#errTime2"} %>
      </div>
      <span id="errTime2"></span>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Project",class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <%= form.collection_select(:project_id, Project.all, :id, :name, { :prompt => 'All Projects', :selected => @timesheet.project_id }, { class: 'form-control js-example-basic-multiple', data: {error: "#errTime3" }}) %>
      </div>
      <span id="errTime3"></span>
    </div>
  </div>

  <div class="row mb-3 mb-2">
    <%= form.label "Job", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
      <%= form.collection_select(:job_id, Job.all, :id, :name, { :prompt => 'All Jobs', :selected => @timesheet.job_id }, { class: 'form-control js-example-basic-multiple', data: {error: "#errTime4" }}) %>
    </div>
    <span id="errTime4"></span>
  </div>

  <div class="row mb-3 mt-3 mb-2">  
    <%= form.label :is_approved, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <%= form.select(:is_approved, options_for_select([['False','0'],['True','1']]), {}, class: "form-control")  %>
      </div>
    </div>
  </div>

  <%# <div class="row mb-3 mt-3 mb-2">
    <%= form.label :is_approved, 'Approve/Reject', class: "col-sm-2 col-form-label form-check-label", for:"flexSwitchCheckChecked" %>
     <%# <div class="col-sm-10">
      <div class="input-group input-group-merge form-check form-switch mb-2">
        <%= form.input_field :is_approved, class:"form-check-input toggle-approve", id:"flexSwitchCheckChecked" %>
        <%# </div>
    </div>
  </div> %> %> %>

  <div class="row justify-content-end mt-2">
    <div class="col-sm-10">
      <%= form.submit button_text, class:'btn btn-primary' %>
    </div>
    <div class="col-sm-3 timesheet-back-btn">
      <%= link_to 'Back', timesheets_path, class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
