<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card-title text-uppercase text-center py-3">Timesheet</div>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Date:</strong>
      <%= @timesheet.current_date %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @timesheet.time %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @timesheet.user_id %>
    </p>

     <p>
      <strong>Project Name:</strong>
      <%= @timesheet.project_id %>
    </p>

     <p>
      <strong>Job Name:</strong>
      <%= @timesheet.job_id %>
    </p>
    
    <%= link_to 'Edit', edit_timesheet_path(@timesheet), class:"btn btn-primary" %>

    <%= link_to 'Back', timesheets_path, class:"btn btn-dark" %>
  </div>
</div>