<%= form_with(model: address,html: {id: ''}, local: true) do |f| %>
  <center><h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Address Details</h4></center>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <%= f.text_field :addressable_id,value: current_user.id, type: :hidden ,class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <%= f.text_field :addressable_type,value:"User", type: :hidden, placeholder:"address",class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label "address_line_1",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bxs-user-detail'></i>
        </span>
        <%= f.text_field :address_line_1, autocoplete: "address_line_1",placeholder:"address line 1",class:"form-control"%>
      </div>
    </div>
  </div>
   <div class="row mb-3">
    <%= f.label "address_line_2",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-current-location'></i>
        </span>
        <%= f.text_field :address_line_2, placeholder:"address", class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label "city",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bxs-city'></i>
        </span>
        <%= f.text_field :city, placeholder:"city",class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label "state",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class='bx bx-building'></i></i>
        </span>
        <%= f.text_field :state,  placeholder:"state",class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label "country",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= f.text_field :country, placeholder:"country", class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label "zipcode",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= f.text_field :zipcode, placeholder:"zipcode", class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-sm-10">
      <%= f.submit button_text, class: "btn btn-primary" %>  
    </div>
  </div>
<% end %>
 