<%= form_with(id:'leavtrackervalidate', model: leavetracker, local: true) do |form|%>
  <% if leavetracker.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <% leavetracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <%= form.label "form_date", class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-time"></i>
        </span>
        <%= form.date_field :from_date, min: Date.today,class:"form-control datepicker", data: {error: "#errTime1"} %>
      </div>
      <span id="errTime1"></span>
    </div>
  </div>
  <div class="row mb-3">
    <%= form.label "Employee", autocomplete: "first_name", class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= form.text_field :user_name , value: current_user.first_name, disabled: "true", class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.number_field :user_id,id: :user_id, class:"form-control", value: current_user.id,type: :hidden %>
  </div>
  <div class="row mb-3">
    <%= form.label "to_date",class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
      <span id="basic-icon-default-edit2" class="input-group-text"><i class="bx bx-edit"></i>
      </span>
      <%= form.date_field :to_date, class:"form-control",data: {error: "#errTime2"} %>
      </div>
      <span id="errTime2"></span>
    </div>
  </div>
   <div class="row mb-3">
    <%= form.label "Reason", autocomplete: "first_name", class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <div class="input-group input-group-merge">
        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
        </span>
        <%= form.text_area :reason , class:"form-control",data: {error: "#errTime3"}%>
      </div>
      <span id="errTime3"></span>
    </div>
  </div>
  <% if current_user.emp_admin? %>
    <div class="row mb-3">
      <label class="col-sm-2 form-label">Is Approved</label>
        <div class="col-sm-10">
          <%= form.check_box :is_approved, class:"form-check-input", id:"status" %>
        <label class="form-check-label" for="status">Approved</label>
        </div>
    </div>
  <% end %>
  <div class="row justify-content-end mt-2">
    <div class="col-sm-10">
      <%= form.submit "Applay Leave" ,class:'btn btn-primary' %>
    </div>
    <div class="col-sm-3 timesheet-back-btn">
      <%= link_to 'Back', leave_trackers_path, class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
